body{

	background:green;

}



.circle{
	transition: background 2s ease;
	width: 100px;
	height: 100px;
	background: #B3FF3F;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float: left;
	margin: 15px;
}

.circle:hover{
	background: #FF3F8D;
}

.circle2{
	transition: background 2s ease;
	width: 100px;
	height: 100px;
	background: #3FC5FF;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	float: left;
	margin: 20px;
}

.circle2:hover{
	background: #FDFF3F;
}

